<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="../public/images/logo sin fondo.png" type="image/x-icon">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dónde comprar | TAMI</title>
<script src="https://kit.fontawesome.com/c702fce202.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../public/css/menu.css">
<link rel="stylesheet" href="../public/css/footer.css">
<link rel="stylesheet" href="../public/css/politica__envio.css">
<link rel="stylesheet" href="../public/fonts/lato-light/Lato-Light.ttf">
</head>
<body>
  <header class="header">
    <a class="icono__flotante" href="https://api.whatsapp.com/send?phone=51 987654321" target="_blank"><i class="fab fa-whatsapp fa-whatsapp1"></i></a>
    <figure class="header__logo"><img class="header__img" src="../public/images/logo sin fondo.png" alt="logo de la empresa"/></figure>
    <div class="header__boton" id="boton">
      <div class="header__hamburguesa"></div>
    </div>
    <nav class="nav display" id="nav">
      <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="index.html">Inicio</a></li>
        <li class="menu__item"><a class="menu__link" href="contacto.html">Nosotros</a></li>
        <li class="menu__item"><a class="menu__link" href="productos.html">Productos</a></li>
        <li class="menu__item"><a class="menu__link" href="contacto.html">Contacto</a></li>
        <li class="menu__item"><a class="menu__link" href="politica__envio.html">Politica de envios</a></li>
      </ul>
    </nav>
  </header>
  <main class="main__politicaEnvio">
    <article class="politica">
      <section class="politica__imagenes">
        <div class="politica__animacion">
        <figure class="politica__item"><img class="politica__img" src="../public/images/POLITICA DE ENVIO/envio3.jpg" alt="entregando delivery"/></figure>
        <figure class="politica__item"><img class="politica__img" src="../public/images/POLITICA DE ENVIO/envio1.jpg" alt="entregando delivery"/></figure>
      </div>

        <figure class="politica__item" id="animado"><img class="politica__img" src="../public/images/POLITICA DE ENVIO/envio2.jpg" alt="entregando delivery"/></figure>
      </section>
      <section class="politica__content">
        <h1 class="politica__titulo">Política de envios</h1>
        <h2 class="politica__subtitulo">Envíos a Lima y Provincias</h2>
        <div class="politica__lima">
          <h3 class="politica__tercerSub">.En Lima Metropolitana</h3>
          <p class="politica__lugares">Santa Anita<br>Centro de Lima<br>Lince<br>Rímac<br> La Victoria<br></p>
          <p class="politica__precio">Precio de envío 5 soles</p>
          <h3 class="politica__tercerSub">.Los demás distritos de Lima Metropolitana</h3>
          <p class="politica__precio">Precio de envío 10 soles</p>
        </div>
        <div class="politica__provincia">
          <h2 class="politica__subtitulo"> Provincias</h2>
          <p class="politica__provinciaT">El cliente elegirá la empresa por la cual desea el envío y pagará lo que la empresa cotice al momento de la entrega.</p>
        </div>
      </section>
    </article>
  </main>
  <footer class="footer" >

    <div class="footer__animacion" id="footer__animacion">
    <p class="footer__titulo">TAMI</p>
    <ul class="footer__sociales">
      <li class="footer__item footer__face"><a class="footer__link" href="https://www.facebook.com/tamiperu01"><i class="fab fa-facebook-f icono__1""></i><span>TAMI PERU</span></a></li>
      
      <li class="footer__item footer__whas"><a class="footer__link" href="#"><i class="fab fa-whatsapp icono__1""></i><span>936910425</span></a></li>
      <li class="footer__item"><a class="footer__link" href="https://www.instagram.com/tamiperu01/?hl=es-la"><i class="fab fa-instagram icono__1"></i><span>@tamiperu01</span></a></li>
      <li class="footer__item"><a class="footer__link" href="#"><i class="far fa-envelope icono__1""></i><span>informestamy@gmail.com</span></a></li>
     
    </ul>
    <p class="footer_copy">©2020 por Tami.</p>
  </div>
  </footer>

    <script src="../public/js/main.js"></script>
<script src="../public/js/politica__envio.js"></script> 
</body>